<html>
<head>
	<meta charset="utf-8">
	<title>Reset your password</title>
</head>
<body >
  <div style=" padding-left: 300px;">
  <div style="display: flex; align-items: center;">
	<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQCXTWfV7wxW0JvmbNCvfOh2eTI3WRAGYtxIUMR-rtuZ7x4FmaF" style="width:60px; height:60px;display:flex">
   <h1 style="text-align: center; padding-left:10px" >SMART WEB ANALYZER</h1></div>
	<h1 style="color:#023761;">Reset your password</h1>
	<p style="font-size:20px;">Hi,</p>
	<p style="font-size:20px;">We received a request to reset your password.If you did not make this request, you can safely ignore this email.</p>
  <p style="font-size:20px;">To reset your password, click the button below:</p>
	<p style="font-size:20px;">Best regards,<br>The Smart Web Analyzer Team</p>
  <div>
    <a href="http://127.0.0.1:8000/change-password/{{ token }}/" style="background-image: linear-gradient(to bottom,#2670ac,#023761); color: white; padding: 12px 24px; text-align: center; text-decoration: none; display: inline-block; border-radius: 4px;">Reset Password</a>
	</div>
    <h3>Questions?</h3>
      <p style="font-size:20px;">
If you didn't request a password reset, we recommend you get in touch with our support team and secure your account.
</p>
	<p style="font-size:20px;">
Reach to us at help@smartwebanalyzer.com
	</p>
</div>
  <footer style="position: fixed; bottom: 0; left: 50%; transform: translateX(-50%); text-align: center;">
    <a href="https://www.facebook.com/"><img src="https://img.freepik.com/premium-vector/blue-social-media-logo_197792-1759.jpg" style="width:40px;height: auto;padding-right: 30px;"></a>
    <a href="https://www.instagram.com/"><img src="https://img.freepik.com/premium-vector/purple-gradiend-social-media-logo_197792-1883.jpg" style="width:40px;height: auto;padding-right: 30px;"></a>
    <a href="https://twitter.com/"><img src="https://img.freepik.com/free-icon/twitter_318-674515.jpg" style="width:36px;height: auto;"></i></a>
  </footer>

</body>
</html>